<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.one.cityguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CityGuide">
        <activity
            android:name=".LoginAndSignup.Password_Updated"
            android:exported="false"/>
        <activity
            android:name=".LoginAndSignup.Set_New_Password"
            android:exported="false"/>
        <activity
            android:name=".LoginAndSignup.Make_Selection"
            android:exported="false"/>
        <activity
            android:name=".LoginAndSignup.Forgot_Password"
            android:exported="false"/>
        <activity
            android:name=".LoginAndSignup.OTP_PinView"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".LoginAndSignup.RetailerSignup"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.RetailerLoginAndSignup"
            android:exported="false" />
        <activity
            android:name=".LoginAndSignup.RetailerLogin"
            android:exported="false" />
        <activity
            android:name=".AllCategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".User.UserDashboard"
            android:exported="false" />
        <activity
            android:name=".OnBoarding.OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>